footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natour logo')
    ul.footer__nav
        li: a(href='https://github.com/Shrey0207/natours' target='_blank') GitHub
        li: a(href='www.linkedin.com/in/shrey-tolasaria-176381231' target='_blank') LinkedIn
        li: a(href='' target='_blank') Twitter
    p.footer__copyright &copy; by Shrey Tolasaria. All rights reserved.